@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.username,.username>h2{
    text-shadow:1px 1px 2px #000
}
.btn-o,.username>h2{
    text-transform:uppercase
}
.iamgurdeep-pic{position:relative}
.username{bottom:0;
    color:#fff;
    padding:30px 15px 4px;
    position:absolute;
    width:100%;
    background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,#2d2c41 100%);
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,#2d2c41 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,#2d2c41 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64d4d4d', GradientType=0 )
}
.iamgurdeeposahan{border-radius:4px 4px 0 0}
.username>h2{font-family:oswald;
    font-size:27px;
    font-weight:lighter;
    margin:31px 0 4px;
    position:relative}
.username>h2 small{color:#fff;
    font-family:open sans;
    font-size:13px;
    font-weight:400;
    position:relative}
.username .fa{color:#fff;
    font-size:14px;
    margin:0 0 0 4px;
    position:static}
.btn-o,.btn-o:hover{color:#fff!important}
.btn-o{border:1px solid rgba(255,255,255,.5);
    border-radius:2px;
    display:inline-block;
    font-family:open sans;
    font-size:15px!important;
    font-weight:400!important;
    margin:0 0 10px;padding:5px 11px;
    text-decoration:none!important;
    background-color:rgba(255,255,255,.1);
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}
.btn-o:hover{background-color:rgba(255,255,255,.4)}